<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".class_30"
            android:exported="false" />
        <activity
            android:name=".class_29"
            android:exported="false" />
        <activity
            android:name=".class_28"
            android:exported="false" />
        <activity
            android:name=".class_27"
            android:exported="false" />
        <activity
            android:name=".class_26"
            android:exported="false" />
        <activity
            android:name=".class_25"
            android:exported="false" />
        <activity
            android:name=".class_24"
            android:exported="false" />
        <activity
            android:name=".class_23"
            android:exported="false" />
        <activity
            android:name=".class_22"
            android:exported="false" />
        <activity
            android:name=".class_21"
            android:exported="false" />
        <activity
            android:name=".class_20"
            android:exported="false" />
        <activity
            android:name=".class_19"
            android:exported="false" />
        <activity
            android:name=".class_18"
            android:exported="false" />
        <activity
            android:name=".class_17"
            android:exported="false" />
        <activity
            android:name=".class_16"
            android:exported="false" />
        <activity
            android:name=".class_15"
            android:exported="false" />
        <activity
            android:name=".class_14"
            android:exported="false" />
        <activity
            android:name=".class_13"
            android:exported="false" />
        <activity
            android:name=".class_12"
            android:exported="false" />
        <activity
            android:name=".class_11"
            android:exported="false" />
        <activity
            android:name=".class_10"
            android:exported="false" />
        <activity
            android:name=".class_9"
            android:exported="false" />
        <activity
            android:name=".class_8"
            android:exported="false" />
        <activity
            android:name=".class_7"
            android:exported="false" />
        <activity
            android:name=".class_6"
            android:exported="false" />
        <activity
            android:name=".class_5"
            android:exported="false" />
        <activity
            android:name=".class_4"
            android:exported="false" />
        <activity
            android:name=".calss_3"
            android:exported="false" />
        <activity
            android:name=".class_2"
            android:exported="false" />
        <activity
            android:name=".class_1"
            android:exported="false" />
        <activity
            android:name=".Fast_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".info"
            android:exported="false" />
    </application>

</manifest>